Adam Ginsburg          <keflavich@gmail.com>
Brigitta Sipőcz        <bsipocz@gmail.com>
Brigitta Sipőcz        <bsipocz@gmail.com> <b.sipocz@gmail.com>
Dan D'Avella           <drdavella@gmail.com>
Dan D'Avella           <drdavella@gmail.com> <ddavella@stsci.edu>
E. Madison Bray        <erik.m.bray@gmail.com>
E. Madison Bray        <erik.m.bray@gmail.com> <embray@stsci.edu>
Kirill Tchernyshyov    <ktchernyshyov@pha.jhu.edu>
Matt Davis             <jiffyclub.programatic@gmail.com>
Matteo Bachetti        <matteo@matteobachetti.it> <matteo.bachetti@irap.omp.eu>
Pey Lian Lim           <lim@stsci.edu> <2090236+pllim@users.noreply.github.com>
Pratik Patel           <pratikpatel15133@gmail.com>
Simon Conseil          <contact@saimon.org>
